@page "/task"

@using Elsa.Activities.Workflows.Extensions
@using Elsa.Models
@inject IWorkflowInvoker WorkflowInvoker

<div>
    <h1>Task Order</h1>
    <button @onclick="CreateOrder">Create</button>
</div>


@code {

    private CreateOrderModel CreateOrderModel { get; set; } = new CreateOrderModel();
    private async Task CreateOrder()
    {
        CreateOrderModel.Description = "First Task";
        CreateOrderModel.Assignee = "Tim";
        var input = new Variables();
        input.SetVariable("CreateOrderModel",CreateOrderModel);

        await WorkflowInvoker.TriggerSignalAsync("Order", input);

    }
}